<!DOCTYPE html>
<html ng-app="theSocialModwork">
	<head>
		<title>Hide-a-Form</title>
		<link rel="stylesheet" href="main.css"/>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
		<script type="text/javascript" src="main.js"></script>
	</head>
	<body ng-controller="faceRoller">
		<div class="formDiv" ng-show="editProf">
			<form class="bioForm">
				Name: <input ng-model="duckName" class="smallInput" type="name" ng-model="nameForm"></textarea><br/>
				Bio: <textarea ng-model="bio" name="bio" class="bigInput" rows="10" cols="80" ng-model="bioThing"></textarea><br/>
				Favorite Books: <textarea ng-model="books" name="favBooks" rows="10" cols="80" class="bigInput" ng-model="favBooksForm"></textarea><br/>
				Favorite JS Libraries: <textarea ng-model="jsLibs" class="bigInput" name="favLibs" rows="10" cols="80" ng-model="favLibsForm"></textarea><br/>
				<input type="submit" ng-click="subForm($event)"/>
			</form> 
		</div>
		<div class="titleInfo">
			<img width="100px" height="175px" src="http://www.mapleleaffarms.com/lib/sitefiles/White-Duck_Facing_Front.jpg"/>
			<h1>{{duckName}}</h1>
			<h2>About {{duckName}}</h2>
			<p>I'm just a duck, you know? I like doing duck stuff.</p>
			<button ng-click="showForm($event)">Edit Profile</button>
		</div>
		<div class="bodyInfo">
			<h2>Bio</h2>
			<p>{{bio}}</p>
			<h2>Favorite Books</h2>
			<p>{{books}}</p>
			<h2>Favorite Javascript Libraries</h2>
			<p>{{jsLibs}}</p>
		</div>
	</body>
</html>