* {
	margin: 0;
}

.titleInfo {
	position: relative;
	top: 20px;
	left: 20px;
}

.titleInfo img, .titleInfo h1 {
	display: inline-block;
	vertical-align: top;
}

img {
	border: 3px solid #6699ff;
}

.bodyInfo {
	position: relative;
	margin: 15px;
	padding: 10px;
}

.bodyInfo * {
	padding-top: 20px;
}

.bioForm {
	text-align: right;
}


.formDiv {
	margin: auto;
}

.bigInput {
	vertical-align: top;
}

.smallInput {
	width: 495px;
}